.containerMenu {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 50px;
  overflow: auto;
}

.spacesMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
