.buttonMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  width: 300px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: hsl(169, 54%, 73%);
}

.substractButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: aliceblue;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.createButton {
  color: black;
  background-color: hsl(169, 54%, 73%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

/* .createButton:hover {
}

.createButton:active {
} */

.buttonEdit{
  height: 20px;
  width: 20px;
}

.buttonActive{
  height: 30px;
  width: 30px;
}
