.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.tableContainer {
  margin: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingContainer {
  position: fixed;
  left: -260px;
  top: 150px;
}

.ordersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
